app.pdf.local.stelmashchuk.dev {
    tls /certs/app.pdf.local.dev.pem /certs/app.pdf.local.dev-key.pem
    reverse_proxy app:3000
}

db.pdf.local.stelmashchuk.dev {
    tls /certs/app.pdf.local.dev.pem /certs/app.pdf.local.dev-key.pem
    reverse_proxy pgadmin:80
}
